.pollModalContainer {
  display: absolute;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.pollModal {
  display: relative;
  background: white;
  border-radius: 0.25rem;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.pollTitle {
  color: var(--color-text-primary);
}
