.dialog {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.panel {
  border: 1px solid var(--color-bg-quaternary);
  background: var(--color-bg-primary);
  border-radius: 0.5rem;
  width: 75%;
  max-width: 30rem;
  box-shadow: var(--md-shadow-dp1);
  z-index: 999;
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 1px solid var(--color-bg-tertiary);
}

.title {
  color: var(--color-text-primary);
}

.close {
  color: var(--color-text-primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.closeIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.close:hover {
  background: var(--color-bg-secondary);
}

.buttonContainer {
  padding: 1rem;
}

.listContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.listLabel {
  color: var(--color-text-primary);
}

.listTitle {
  color: var(--color-text-primary);
}

.listItem {
  display: flex;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 0.5rem;
  box-shadow: var(--md-shadow-dp1);
  cursor: pointer;
}

.listItem:active,
.listItem:focus {
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--color-text-once);
  --ring-offset-width: 1px;
}

.try {
  background: var(--color-text-once);
  color: var(--color-text-primary);
  display: inline-flex;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: center;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.try:hover {
  color: var(--color-bg-primary);
  background: var(--color-text-once);
}

.try:disabled {
  cursor: not-allowed;
}

html[data-theme="dark"] .panel {
  border: 1px solid var(--color-bg-tertiary);
  background: var(--color-bg-secondary);
  box-shadow: var(--md-shadow-dp2);
}

html[data-theme="dark"] .close:hover {
  background: var(--color-bg-tertiary);
}

html[data-theme="dark"] .header {
  border-bottom: 1px solid var(--color-bg-tertiary);
}

html[data-theme="dark"] .listItem {
  color: var(--color-text-primary);
  background: var(--color-bg-tertiary);
}

html[data-theme="dark"] .try {
  color: var(--color-bg-primary);
  background: var(--color-bg-once-dark-faded-hover);
}

html[data-theme="dark"] .try:hover {
  color: var(--color-bg-primary);
  background: var(--color-bg-once-dark-hover);
}

@media (min-width: 640px) {
  .panel {
    width: 50%;
  }

  .header {
    padding: 1.25rem;
  }
}
