html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
  background: var(--color-bg-primary);
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

button {
  font-family: "Merriweather Sans", sans-serif;
}

a {
  color: #6fc5c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

footer {
  color: hsl(0, 0%, 12%);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
}

.themeToggle {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  background: var(--color-bg-toggle);
  width: var(--toggle-width);
  border: none;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}

.themeTogglePic {
  display: flex;
  border-radius: 50%;
}

.themeTogglePic:hover {
  background: var(--color-bg-icon);
}

html[data-theme="dark"] .themeTogglePic:hover {
  background: var(--color-bg-secondary);
}

html[data-theme="light"] {
  --color-text-primary: hsl(0, 0%, 5%);
  --color-text-secondary: hsl(0, 0%, 22%);
  --color-bg-primary: #ffffff;
  --color-bg-secondary: hsl(0, 0%, 95%);
  --color-bg-icon: #e6e6e6;
  --md-shadow-dp1: rgba(0, 0, 0, 0.07) 0px 1px 3px,
    rgba(0, 0, 0, 0.19) 0px 1px 2px;
}

html[data-theme="dark"] {
  --color-text-primary: hsl(0, 0%, 95%);
  --color-bg-primary: #121212;
  --color-bg-secondary: #202020;
  --color-bg-tertiary: #313131;
  --md-shadow-dp1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

html[data-theme="dark"] footer {
  color: hsl(0, 0%, 88%);
}

@media (max-width: 600px) {
  .themeToggle {
    padding: 0.25rem 0.5rem;
  }
}

@supports (-webkit-touch-callout: none) {
  .themeToggle {
    background: none !important;
  }

  .themeTogglePic {
    background: none !important;
  }
}
