html,
body {
  padding: 0;
  margin: 0;
  font-family: "Merriweather Sans", sans-serif;
}

a {
  color: #6fc5c2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

footer {
  color: hsl(0, 0%, 12%);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  padding: 1rem 0;
}
