.container {
  position: relative;
  min-height: 100%;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 31rem;
}

.title {
  color: hsl(0, 0%, 12%);
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.5;
  cursor: text;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.editTitle,
.description {
  text-align: center;
}

.editTitle {
  font-size: 2.5rem;
  margin: 0;
  border-radius: 0.65rem;
  outline: none;
}

.description {
  color: hsl(0, 0%, 12%);
  margin: 0.9rem 0;
  line-height: 1.5;
  font-size: 1.1rem;
}

.listTable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50vw;
  padding: 0;
  margin: 1rem 0;
  justify-content: center;
  justify-items: center;
}

.inputContainer {
  position: relative;
  display: inline-flex;
}

.listInput {
  border-radius: 0.65rem;
  font-size: 1rem;
  margin: 0.75rem;
  padding: 0.75rem;
  width: 100%;
  border: none;
  border-style: none;
  border-width: thin;
  place-self: center;
  background-color: hsl(0, 0%, 95%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.inputButton {
  border: none;
  color: hsl(0, 0%, 95%);
  background-color: #ff5fa2;
  border-top-right-radius: 0.65rem;
  border-bottom-right-radius: 0.65rem;
  outline: outset;
  outline-color: transparent;
  outline-width: 1px;
  margin: 0.75rem;
  padding: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.inputButton:hover {
  background-color: #e65692;
  cursor: pointer;
}

.inputButtonIcon {
  height: 1rem;
  width: 1rem;
}

.listInput:hover {
  border: none;
  border-style: none;
  outline: outset;
  outline-color: hsl(0, 0%, 22%);
  outline-width: 1px;
}

.listInput:focus {
  border: none;
  border-style: none;
  outline: outset;
  outline-color: hsl(0, 0%, 22%);
  outline-width: 1px;
}

.item {
  display: flex;
  margin: 0.2rem;
  padding: 0.75rem;
  list-style: none;
  text-align: left;
  text-decoration: none;
  border: 1px solid #b3b3b3;
  border-radius: 1.3rem;
  transition: color 0.15s ease, border-color 0.15s ease, all 0.15s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 1.45px 1.25px 1.85px;
  width: 100%;
  overflow: hidden;
  word-break: break-word;
  border: 1px solid #000;
}

.item:hover,
.item:focus,
.item:active {
  border-color: hsl(0, 0%, 12%);
  transform: scale(1.05);
}

.item p {
  flex-basis: 100%;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.removing {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.removeItem {
  color: hsl(0, 0%, 21%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  z-index: 9;
}

.removeItem:hover {
  color: hsl(0, 72%, 50%);
  transform: scale(1.2);
}

.listButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem;
  width: 100%;
  gap: 1rem;
}

.start {
  color: #ff5fa2;
  border-color: #ff5fa2;
  background-color: transparent;
  display: inline-block;
  border-style: solid;
  border-radius: 0.55rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  border-style: solid;
  overflow: hidden;
  padding: 0.55rem;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.start:hover {
  color: white;
  background-color: #ff5fa2;
  transition: transform 0.15s;
}

.reset {
  color: hsl(0, 0%, 22%);
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  display: inline-block;
  border-radius: 0.55rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  overflow: hidden;
  transition: background-color 0.15s ease-in, color 0.3s;
  padding: 0.55rem;
}

.reset:hover {
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 88%);
  transition: transform 0.15s;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.75rem;
  }

  .listTable {
    width: 90vw;
  }
}

html[data-theme="dark"] .listInput {
  color: var(--color-text-primary);
  background-color: var(--color-bg-secondary);
  box-shadow: var(--md-shadow-dp1);
}

html[data-theme="dark"] .listInput:hover {
  outline: outset;
  outline-color: var(--color-text-primary);
  outline-width: 1px;
}

html[data-theme="dark"] .listInput:focus {
  outline: outset;
  outline-color: var(--color-text-primary);
  outline-width: 1px;
}

html[data-theme="dark"] .inputButton {
  color: var(--color-bg-secondary);
  background: #ff7fb5;
}

html[data-theme="dark"] .inputButton:hover {
  color: var(--color-bg-secondary);
  background: #e65692;
}

html[data-theme="dark"] .item {
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  border: transparent;
  border-radius: 1.3rem;
  box-shadow: var(--md-shadow-dp1);
}

html[data-theme="dark"] .item:hover {
  color: var(--color-text-primary);
  background: var(--color-bg-tertiary);
  border: transparent;
  border-radius: 1.3rem;
  box-shadow: var(--md-shadow-dp1);
}

html[data-theme="dark"] .removeItem {
  color: var(--color-text-primary);
}

html[data-theme="dark"] .removeItem:hover {
  color: hsl(0, 72%, 40%);
}

html[data-theme="dark"] .reset {
  color: var(--color-text-primary);
}

html[data-theme="dark"] .reset:hover {
  background: hsl(0, 0%, 12%);
}

html[data-theme="dark"] .start {
  color: var(--color-bg-secondary);
  border: #ff7fb5;
  background: #ff7fb5;
}

html[data-theme="dark"] .start:hover {
  color: #1d1d1d;
  border-color: #e65692;
  background: #e65692;
}

html[data-theme="dark"] .title {
  color: hsl(0, 0%, 100%);
}

html[data-theme="dark"] .description {
  color: var(--color-text-primary);
}

html[data-theme="dark"] .reset:hover {
  color: var(--color-text-primary);
}

/* target safari browser */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    html[data-theme="dark"] .listInput {
      border: 1px solid transparent;
      color: white;
      background: var(--color-bg-secondary);
      outline: none !important;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    html[data-theme="dark"] .listInput:hover {
      border: 1px solid var(--color-text-primary);
      outline: none !important;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }

    html[data-theme="dark"] .listInput:focus {
      border: 1px solid var(--color-text-primary);
      outline: none !important;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
  }
}

@supports (-webkit-touch-callout: none) {
  html[data-theme="dark"] .listInput {
    border: 1px solid hsl(0, 0%, 88%);
    color: white;
    background-color: transparent;
    outline: none !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  html[data-theme="dark"] .listInput:focus {
    color: white;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 88%);
    outline: none !important;
  }
}
