.back {
  color: #2253a3;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  grid-area: back;
  font-weight: 600;
  font-size: 1.0rem;
  transition: font-size 0.1s;
}

.back:hover {
  color: #3864ac;
  font-weight: 700;
  transition: color 0.1s;
}

.leftField,
.rightField,
.both,
.noOpinion {
  color: var(--color-text-primary);
  cursor: pointer;
  border: hsl(0, 0%, 29%);
  border-style: solid;
  border-width: thin;
  padding: 1.2rem 0;
  font-size: 1.25rem;
}

.leftField:hover,
.rightField:hover,
.both:hover,
.noOpinion:hover {
  background-color: hsl(0, 0%, 96%);
}

.gridHeader {
  color: var(--color-text-primary);
  grid-area: header;
  padding: 1.1rem 1.33rem;
}

.leftField {
  grid-area: leftField;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.rightField {
  grid-area: rightField;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.both,
.noOpinion {
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  word-break: normal;
}

.both {
  grid-area: both;
}

.noOpinion {
  grid-area: noOpinion;
}

.container {
  text-align: center;
  display: grid;
  grid-gap: 0.25rem;
  grid-template-columns: 120px 120px 80px 80px 120px 120px;
  grid-template-rows: auto;
  grid-template-areas:
    "back back header header . ."
    "leftField leftField both both rightField rightField"
    "leftField leftField noOpinion noOpinion rightField rightField";
}

.resultsTable {
  color: var(--color-text-primary);
  background: var(--color-bg-secondary);
  min-width: 400px;
  max-width: 600px;
  font-size: 1.1rem;
  line-height: 120%;
  margin: 2rem;
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
}

.resultsHeaderContainer {
  background: #ff5fa2;
  border-top: 1px solid hsl(0, 0%, 29%);
  border-right: 1px solid hsl(0, 0%, 29%);
  border-left: 1px solid hsl(0, 0%, 29%);
}

.resultsHeader {
  color: #ffffff;
  text-align: center;
}

.itemRow {
  border: 1px solid hsl(0, 0%, 29%);
  text-align: center;
}

.leftItemRow {
  border-right: 1px solid hsl(0, 0%, 29%);
  text-align: center;
  padding-right: 5px;
}

.rightItemRow {
  padding-left: 5px;
}

.export {
  color: #ff5fa2;
  border-color: #ff5fa2;
  background-color: transparent;
  display: inline-block;
  border-style: solid;
  border-radius: 0.55rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  user-select: none;
  vertical-align: bottom;
  position: relative;
  border-style: solid;
  overflow: hidden;
  padding: 0.55rem;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.export:hover {
  color: white;
  background-color: #ff5fa2;
  transition: transform 0.15s;
}

#leftField,
#rightField {
  margin: auto;
}

html[data-theme="dark"] .back {
  color: #467dd7;
  transition: color 0.15s ease-in-out;
}

html[data-theme="dark"] .back:hover {
  color: #6b97df;
  font-weight: 700;
  transition: transform 0.15s;
}

html[data-theme="dark"] .leftField:hover {
  background: hsl(0, 0%, 12%);
}

html[data-theme="dark"] .rightField:hover {
  background: hsl(0, 0%, 12%);
}

html[data-theme="dark"] .both:hover {
  background: hsl(0, 0%, 12%);
}

html[data-theme="dark"] .noOpinion:hover {
  background: hsl(0, 0%, 12%);
}

html[data-theme="dark"] .export {
  color: var(--color-bg-secondary);
  background-color: #ff5fa2;
}

html[data-theme="dark"] .export:hover {
  color: #1d1d1d;
  border-color: #e65692;
  background-color: #e65692;
}

html[data-theme="dark"] .resultsHeader {
  color: var(--color-bg-secondary);
}

@media (max-width: 600px) {
  .container {
    margin: 0.5rem;
    grid-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 40px 40px 1fr 1fr;
    grid-template-areas:
      "back back header header . ."
      "leftField leftField both both rightField rightField"
      "leftField leftField noOpinion noOpinion rightField rightField";
  }

  .gridHeader {
    font-size: 0.75rem;
    padding: 0.5rem 0;
  }

  .leftField,
  .rightField,
  .both,
  .noOpinion {
    cursor: pointer;
    border: hsl(0, 0%, 29%);
    border-style: solid;
    border-width: thin;
    padding: 0.5rem;
    font-size: 1rem;
  }
}
